.animal {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    text-align: left;
    background-color: #8EBFF4;
  }
  
  .animal__name {
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
  }
  
  .animal__details {
    font-size: 20px;
    font-weight: 400;
    color: white;
  }